html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

html,
body,
#app {
  height: 100%;
}

body {
  margin: 0;
  font-family: var(--el-font-family);
}


h1,
h2,
h3 {
  font-weight: 500;

  &:first-child {
    margin-top: 0;
  }

  &:last-child {
    margin-bottom: 0;
  }
}
